.container{
    width: 100%;
    height: 100vh;
    background: transparent;
}


.homeCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 200px);
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.title{
    font-size: 70px;
    margin-bottom: 0.1%;
    font-family: "Caveat Brush";
    color: var(--dark-color);
    user-select: all;
    padding: 1px;
}

.desc{
    margin: 0;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.1%;
    font-family: "Caveat Brush";
    color: var(--dark-color);
    user-select: all;
    padding: 0;
}

.startBtn{
    padding: 0.8em 1.5em;
    font-size: 1.2em;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border: var(--dark-color) 3px solid;
    box-shadow: var(--dark-color) 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0;
}

.startBtn:hover{
    background-color: var(--accent-color);
    color: var(--light-color);
    border: var(--secondary-color) 3px solid;
    box-shadow: var(--secondary-color) 2px 2px 0px;
}

.resetBtn{
    position: fixed;
    right: 20px;
    bottom: 15px;
    background: var(--dark-color);
    border: none;
    color: var(--light-color);
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 10px;
}

.themeBtn{
    position: fixed;
    left: 20px;
    bottom: 15px;
    background: var(--dark-color);
    border: none;
    color: var(--light-color);
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 10px;
}

/*Discarded Styling (For Now)*/
.img{
    position: fixed;
    width: 90%;
    height: 90%;
    background-image: url("C:\Users\Zainab\Documents\CS Work\Not Uni\desktopToDo\desktop-todo-clean\public\IMG\pixel art test3.jpg");
    background-size: contain;
    align-items: center;
    text-align: center;
    margin: 40px;
}