/*var(--light-color)*/
/*var(--dark-color)*/
/*var(--secondary-accent-color)*/
/*#BEBFC3*/
/*#E4C0AA*/



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.container::-webkit-scrollbar{
    display: none;
}

.mainTitle{
    position: relative;
    background-color:var(--tertiary-accent-color);
    border: var(--dark-color) 3px solid;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 5px;
    color: var(--dark-color);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 93%;
    margin: auto 10px 3px 10px;
}

.return{
    position: fixed;
    left: 60px;
    bottom: 15px;
    background: var(--dark-color);
    border: none;
    color: var(--light-color);
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 10px 5px 10px;
}

.content{
  position: relative;
  width: 93%;
  background-color: var(--tertiary-accent-color);
  opacity: 0.7;
  border: var(--dark-color) 3px solid;
  border-radius: 10px;
  margin: 5px 10px 3px 12px;
  padding: 0px 10px;
  font-size: 10px;
  color: var(--dark-color);
  flex: 0.915;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.taskList{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}