/*var(--light-color)*/
/*var(--dark-color)*/
/*var(--secondary-accent-color)*/
/*#BEBFC3*/
/*#E4C0AA*/

.container{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container::-webkit-scrollbar{
    display: none;
}

.mainTitle{
    position: relative;
    width: 93%;
    background-color:var(--tertiary-accent-color);
    border: var(--dark-color) 3px solid;
    border-radius: 10px;
    margin: 5px auto;
    padding: 0px 10px;
    font-size: 5px;
    color: var(--dark-color);
    align-items: center;
    justify-content: center;
}

.return{
    position: fixed;
    left: 60px;
    bottom: 15px;
    background: var(--dark-color);
    border: none;
    color: var(--light-color);
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 10px 5px 10px;
}

.content{
    position: relative;
    width: 93%;
    background-color: var(--tertiary-accent-color);
    border: var(--dark-color) 3px solid;
    border-radius: 10px;
    margin: 5px auto;
    padding: 0px 10px;
    font-size: 5px;
    color: var(--dark-color);
    height: 80%;
}